<script>
    import { slide } from "svelte/transition";
    import { onMount } from "svelte";
    import { CustomBSAlert } from "../alert";
    import { user } from '../store.js';
    import { push } from 'svelte-spa-router';

    let alert = new CustomBSAlert();

    function editable(informations)
    {
        document.getElementById("edit_user_nom").value = informations["nom"];
        
        document.getElementById("edit-your-image").style.backgroundImage = `url(${informations["img"]})`;

        // Changement de l'image
        let user_img = document.getElementById("edit_user_picture");

        user_img.addEventListener("change", () =>
        {
            if (user_img.files && user_img.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("edit-your-image").style.backgroundImage = `url(${e.target.result})`;
                };
                reader.readAsDataURL(user_img.files[0]);
            }
        })

        let form = document.getElementById("edit_user");
        // Lorsque l'on clique sur la soumission de form
        form.querySelector("button").addEventListener("click", async function(event) {
            form.classList.add("was-validated");
            // Vérification de la correspondance des mots de passe
            let pwd = document.getElementById("edit_user_pwd");
            let pwd_confirm = document.getElementById("edit_user_pwd_confirm");

            if (pwd.value != "" && pwd.value != pwd_confirm.value) {
                [pwd, pwd_confirm].forEach(function (input) {
                    input.setCustomValidity("Les mots de passe ne coïncident pas");
                    pwd.focus();
                });
            } else {
                [pwd, pwd_confirm].forEach(function (input) {
                    input.setCustomValidity("");
                });
            }
            
            // Vérification de la disponibilité du nom
            let nom = document.getElementById("edit_user_nom");
            nom.setCustomValidity("");
            
            // Si les données sont valides
            if (form.checkValidity()) {
                let edit_user = {
                    nom: nom.value,
                    pwd: pwd.value,
                };

                if (user_img.files && user_img.files[0])
                    edit_user["img"] = document.getElementById("edit-your-image").style.backgroundImage.slice(5,-2);
                
                //On envoie les données
                fetch("/api/user/v1.0/edition/"+$user.id, {
                    method: "PUT",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(edit_user),
                })
                .then(response => response.json())
                .then((response) => {
                    if (response["success"] == 1) {
                        alert.alert("success",`Les modifications ont été prises en compte !`);
                        $user = {
                            id: response["id"],
                            nom: response["nom"],
                            img: response["img"],
                            roles: response["roles"],
                        };
                        push("/");
                    }
                    else {
                        alert.alert("warning","Ce nom d'utilisateur est déjà pris");
                        nom.focus();
                        nom.setCustomValidity("Ce nom d'utilisateur est déjà pris");
                    } 
                })
                .catch((error) => console.log(error));
            }
        });
    }

    onMount(async () => {
        console.log($user);
        const informations = await fetch("/api/user/v1.0/liste/"+$user.id).then(response => response.json()).catch(error => console.log(error));
        editable(informations);
    });

</script>

<section transition:slide={{ delay: 300, duration: 300 }}>
    <form action="#" method="post" id="edit_user" class="col-xl-6 m-auto">
        <div class="col-md-6">
            <label for="edit_user_nom" class="form-label mt-3">Nom d'utilisateur<span class="text-danger">*</span></label>
            <input type="text" name="edit_user_nom" class="form-control" id="edit_user_nom" required/>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="edit_user_pwd" class="form-label mt-3">Mot de passe<span class="text-danger">*</span></label>
                <input type="password" name="edit_user_pwd" class="form-control" id="edit_user_pwd" required/>
            </div>
            <div class="col-md-6">
                <label for="edit_user_pwd_confirm" class="form-label mt-3">
                    Confirmez votre mot de passe<span class="text-danger">*</span>
                </label>
                <input type="password" name="edit_user_pwd_confirm" class="form-control" id="edit_user_pwd_confirm" required/>
            </div>
        </div>

        <label for="edit_user_picture" class="form-label mt-3 d-block">Image de profil</label>
        <div style="background-size: cover; background-position:center;height:200px;width:200px;" id="edit-your-image"></div>
        <input type="file" name="edit_user_picture" id="edit_user_picture" class="form-control my-2">

        <button type="button" class="btn btn-success d-block m-auto">Modifier</button>
    </form>   
</section>
