<script>
    import { activePage, entityID } from './store.js';
    import { link, push } from 'svelte-spa-router'

    async function chargePlaylist(numPage)
    {
        return await fetch("/api/playlist/v1.0/liste/page/"+numPage).then(response => response.json()).catch(error => console.log(error));
    }
    
    async function chargeMusique(numPage)
    {
        return await fetch("/api/musique/v1.0/liste/page/"+numPage).then(titres => titres.json()).then(titres => {return titres["musiques"]});
    }

    let titres = chargeMusique(0);
    let noms = chargePlaylist(0);
</script>


{#await titres then titres}
    {#if titres.length != 0}
    <h2>Liste musiques</h2>
    <div class="d-flex overflow-auto">
        {#each titres  as musique}
            <div class="card m-3 col-xl-2 col-md-4 col-6">
                <div class="card-body p-0">
                    <a href="/musiques/details/{musique.id}" class="stretched-link" use:link> </a>
                    <div class="user-img w-100 " style="background-image: url({musique.image});"></div>
                </div>
                <div class="card-footer overflow-hidden text-nowrap">
                    <h5>{musique.titre}</h5>
                </div>
            </div>
        {/each}
    </div>
    {:else}
    <p>Aucun morceau trouvé</p>
    {/if}
{:catch}
<p>Aucun morceau trouvé</p>
{/await}


{#await noms then noms}
    {#if noms.length != 0}
    <h2 class="mt-3">Liste playlists</h2>
    <div class="d-flex overflow-auto">
        {#each noms as playlist}
            <div class="card  m-2 col-xl-3 col-md-4 col-6">
                <div class="card-body  p-0">
                    <a href="/playlists/details/{playlist.id}" class="stretched-link" use:link> </a>
                    <div class="user-img w-100 " style="background-image: url({playlist.image});"></div>
                </div>
                <div class="card-footer overflow-hidden text-nowrap">
                    <h5>{playlist.nom}</h5>
                </div>
            </div>
        {/each}
    </div>
    {:else}
    <p>Aucune playlist trouvée</p>
    {/if}
{:catch}
    <p>Aucune playlist trouvée</p>
{/await}

