<script>
	import Navbar from './Navbar.svelte';
	import Footer from './Footer.svelte';
	import Accueil from './Accueil.svelte';

	import AdminListe from './Admin/Admin-liste.svelte';
	import AdminDetails from './Admin/Admin-details.svelte';

	import MusiqueListe from './Music/Music-liste.svelte';
	import MusiqueDetails from './Music/Music-details.svelte';

	import PlaylistListe from './Playlist/Playlist-liste.svelte';
	import PlaylistDetails from './Playlist/Playlist-details.svelte';

	import Profil from './User/Profil.svelte';

	import Router from 'svelte-spa-router';

	const routes = {
    	'/': Accueil,
		'/admin':AdminListe,
		'/admin/details/:id':AdminDetails,
		'/musiques':MusiqueListe,
		'/musiques/details/:id':MusiqueDetails,
		'/playlists':PlaylistListe,
		'/playlists/details/:id':PlaylistDetails,
		'/profil':Profil,
	}
</script>

<Navbar/>
<div class="container my-5" id="container">
	<Router {routes}/>
</div>
<Footer/>

<style>
	
</style>