<script></script>

<footer class="py-3 bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="https://gitlab.com/kevintld/" target="_blank" class="btn nav-link px-2 text-muted">Kevin</a></li>
    <li class="nav-item"><a href="https://gitlab.com/nicotoine" target="_blank" class="btn nav-link px-2 text-muted">Nicolas</a></li>
    <li class="nav-item"><a href="https://gitlab.com/elieplr/"  target="_blank" class="btn nav-link px-2 text-muted">Elie</a></li>

  </ul>
  <p class="text-center text-muted">© 2021 Swing, Inc</p>
</footer>