<script>
    import { CustomBSAlert } from "../alert";
    import { push, link } from 'svelte-spa-router';

    let alert = new CustomBSAlert();

    let noms = fetch("/api/user/v1.0/liste").then(noms => noms.json()).then(noms => {return noms["users"]});
</script>

<section class="d-flex flex-wrap justify-content-center">
    <button class="btn btn-primary ms-auto" on:click="{ () => {fetch("/ajoutJson").then(alert.alert("info", "Les musiques sont en cours d'actualisation. Veuillez patienter."))}}">Actualiser les musiques</button>
    <h1 class="w-100 text-center">Liste des utilisateurs</h1>
    {#await noms then noms}
        {#each noms as user}
            <div class="card m-2">
                <div class="card-body">
                    <a href="/admin/details/{user.id}" class="stretched-link" use:link> </a>
                    <div class="user-img" style="background-image: url({user.img});"></div>
                </div>
                <div class="card-footer">
                    <h5>{user.nom}</h5>
                    <p>{user.roles}</p>
                </div>
            </div>
        {/each}
    {:catch}
        <p>Aucun utilisateur trouvé</p>
    {/await}
</section>