@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

.user-img {
    background-size: cover;
    background-position:center;
    height:200px;
    width:200px;
    margin: 0 auto;
}

#my-profile {
    background-size: contain;
    height:30px;
    width:30px;
}
