<script> 
    import { user } from '../store.js';
    import { CustomBSAlert } from '../alert.js';
    import { push } from 'svelte-spa-router';

    export let params={};

    let alert = new CustomBSAlert();

    async function chargeMusique()
    {
        return await fetch("/api/musique/v1.0/liste").then(titres => titres.json()).then(titres => {return titres["musiques"]});
    }

    async function charquePlaylist()
    {
        return await fetch("/api/playlist/v1.0/liste/"+params.id).then(response => response.json()).catch(error => console.log(error));
    }

    let playlist = charquePlaylist();
    let musiques = chargeMusique();

    async function edit()
    { 
        let ids = new Array();
        let musiques = document.querySelectorAll("li.musique");
        let list_musique = document.querySelectorAll("input.list-check");

        for(let musique of musiques) 
            ids.push(musique.getAttribute("data-id"));
    
        for(let musique of list_musique)
        {
            if(ids.includes(musique.value)) musique.checked = true;
            else musique.checked = false;
        }
    }

    function search() {
        // Declare variables
        var input, filter, listmusic, labels, a, i, txtValue;
        input = document.getElementById('recherche');
        filter = input.value.toUpperCase();
        listmusic = document.getElementById("music-list");
        labels = listmusic.getElementsByTagName('label');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < labels.length; i++) {
            a = labels[i];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                labels[i].parentNode.style.display = "";
            } else {
                labels[i].parentNode.style.display = "none";
            }
        }
    }

    function verification() {
        let list_musique = document.querySelectorAll("input.list-check");

        let nom = document.getElementById("playlist-nom_modify");
        let musiquesArray = new Array();

        for(let musique of list_musique)
        {
            if(musique.checked == true) 
                musiquesArray.push(musique.value)
        }
        if(nom.value.length>0 && musiquesArray.length>0)
            document.querySelector("#validate").disabled=false;
        else document.querySelector("#validate").disabled=true;
    }

    async function validateChange()
    {
        let list_musique = document.querySelectorAll("input.list-check");
        let image = document.getElementById("playlist-image_modify");
        let nom = document.getElementById("playlist-nom_modify");
        let musiquesArray = new Array();

        for(let musique of list_musique)
        {
            if(musique.checked == true) 
                musiquesArray.push(musique.value)
        }
        if(nom.value.length>0 && musiquesArray.length>0)
        {
            let edit_playlist = {
                img: image.value,
                nom : nom.value,
                musiques : musiquesArray
            }
            //On envoie les données
            fetch("/api/playlist/v1.0/edition/"+params.id, {
            method: "PUT",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify(edit_playlist),
            }).then(response => response.json())
            .catch(error => {
                alert.alert("danger",`La playlist n'a pas pu être modifiée.`)
                console.log(error);
            });
            playlist = await charquePlaylist();
            alert.alert("success",`La playlist a été modifiée.`);
        }
            
    }

    function deleteplaylist()
    {
        push("/playlists/");
        alert.alert("danger",`La playlist a été supprimée.`);
        fetch("/api/playlist/v1.0/delete/"+params.id).then(response => response.json()).catch(error => console.log(error));
    }

    function goToList(id){push(`/musiques/details/${id}`);}
</script>


{#await playlist then playlist}
    <section id="playlist-details" class="d-xl-flex flex-wrap justify-content-center">
        <div class="card mb-3 w-100" >
            <div class="row g-0 flex-wrap" style="">
                <div class="col-xl-6 h-100">
                    <img src="{playlist.image}" id="img-playlist" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-12 col-xl-6 h-100 overflow-auto container-sm" style="max-height:640px;">
                    <h5 class="card-title">
                        <input type="text" name="playlist-nom" class="form-control" value="{playlist.nom}" id="playlist-nom" required disabled/>
                    </h5>
                    <div class="card-body  h-100 p-0">
                        <div class="card">
                            <ul class="list-group list-group-flush overflow-auto">
                            {#each playlist.musiques as musique}
                                <li class="list-group-item d-flex text-nowrap align-items-center musique" data-id="{musique.id}" on:click="{() => {goToList(musique.id)}}">
                                    <img src="{musique.image}" id="img-playlist" class="card-img-top w-25 me-2 stretched-link" alt="...">
                                    <div class="d-flex flex-column">
                                        <p class="ms-4">{musique.titre}</p>
                                        <figure >
                                            <audio class="" id="audio"
                                                controls
                                                src={musique.extrait}>
                                                    Your browser does not support the
                                                    <code>audio</code> element.
                                            </audio>
                                        </figure>
                                    </div>
                                </li> 
                            {/each}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {#if $user && ($user.roles.includes("administrateur") || (playlist.creator && playlist.creator.id == $user.id ))}
                <div class="card-footer d-flex flex-wrap justify-content-center">
                    <button class="btn btn-outline-primary mx-2" id="edit" data-bs-toggle="modal" data-bs-target="#modificationModal" on:click={edit}><i class="far fa-edit"></i></button>
                    <button class="btn btn-outline-danger mx-2" on:click={deleteplaylist}><i class="far fa-trash-alt"></i></button>
                </div> 
             {/if}
        </div>
        
    
    </section>

    <div class="modal" tabindex="-1" id="modificationModal" aria-labelledby="modificationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modification playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
    
                    <label for="playlist-nom_modify">Nom</label>
                    <input type="text" name="playlist-nom_modify" on:change="{verification}" class="form-control" value="{playlist.nom}" id="playlist-nom_modify" required />
                    <label for="playlist-image_modify">Image</label>
                    <input type="text" name="playlist-image_modify" on:change="{verification}" class="form-control my-2 " value="{playlist.image}" id="playlist-image_modify" required />

                    <input type="text" name="recherche" class="form-control" on:change="{verification}" id="recherche" placeholder="Recherche" on:input={search}/>
                   
                    <div class="d-flex flex-column overflow-auto" id="music-list" style="height:100px;">
                       
                        {#await musiques then musiques}
                            {#each musiques as musique}
                            <div class="form-check">
                                <input class="form-check-input list-check" type="checkbox" on:change="{verification}" value="{musique.id}" id="flexCheckDefault-{musique.id}">
                                <label class="form-check-label text-nowrap overflow-hidden" for="flexCheckDefault-{musique.id}">
                                    {musique.titre} ({musique.artiste})
                                </label>
                            </div>
                            {/each}
                        {/await}
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-outline-primary mx-2" data-bs-dismiss="modal" aria-label="Close" id="validate" on:click={validateChange}><i class="far fa-check-square"></i></button>
                    <button class="btn btn-outline-danger mx-2" on:click={deleteplaylist}><i class="far fa-trash-alt"></i></button>
                </div> 
            </div>
        </div>
    </div>
{:catch}
<p>Aucun morceau trouvé</p>
{/await}