<script> 
    import { user } from '../store.js';
    import { CustomBSAlert } from '../alert.js';
    import { push } from 'svelte-spa-router';

    export let params={};

    let alert = new CustomBSAlert();

    async function chargeMusique()
    {
        return await fetch("/api/musique/v1.0/liste/"+params.id).then(response => response.json()).catch(error => console.log(error));
    }
    let musique = chargeMusique();

    function edit()
    {
        for(let input of document.querySelectorAll('.form-control'))
        {
            input.disabled = false;
        }
        document.querySelector('#music-image').classList.remove("d-none");
        document.querySelector('#music-extrait').classList.remove("d-none");
        document.querySelector('#validate').classList.remove("d-none");

        document.querySelector('#edit').classList.add("d-none");
    }

    function validateChange()
    {
        for(let input of document.querySelectorAll('#musique-details input.form-control'))
        {
            input.disabled = true;
        }
        document.querySelector('#music-image').classList.add("d-none");
        document.querySelector('#music-extrait').classList.add("d-none");
        document.querySelector('#validate').classList.add("d-none");

        document.querySelector('#edit').classList.remove("d-none");

        let image = document.getElementById("music-image");
        let titre = document.getElementById("music-titre");
        let artiste =document.getElementById("music-Artiste"); 
        let extrait =document.getElementById("music-extrait");   
 
        if( titre.value.length>0 && artiste.value.length>0 && image.value.length>0 && extrait.value.length>0)
        {
            let edit_musique = {
                img: image.value,
                titre : titre.value,
                artiste : artiste.value,
                extrait : extrait.value,
            }
            //On envoie les données
            fetch("/api/musique/v1.0/edition/"+params.id, {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(edit_musique),
            }).then(response => response.json()).catch((error) => console.log(error));
            
            document.getElementById("img-music").src=image.value;
            document.getElementById("audio").src=extrait.value;
            alert.alert("success",`Le morceau a été modifié.`);
        }
    }

    function deleteMusique()
    {
        push("/musiques/");
        alert.alert("danger",`Le morceau a été supprimé.`);
        fetch("/api/musique/v1.0/delete/"+params.id).then(response => response.json()).catch(error => console.log(error));
    }

    function verification() {
        let image = document.getElementById("music-image");
        let titre = document.getElementById("music-titre");
        let artiste =document.getElementById("music-Artiste"); 
        let extrait =document.getElementById("music-extrait");   

        if( titre.value.length>0 && artiste.value.length>0 && image.value.length>0 && extrait.value.length>0)
            document.querySelector("#validate").disabled=false;
        else document.querySelector("#validate").disabled=true;
    }
</script>

<section id="musique-details" class="d-flex flex-wrap justify-content-center">
    {#await musique then musique}
    <div class="card col-10 col-md-6">
        <img src="{musique.image}" id="img-music" class="card-img-top" alt="...">
        <input type="text" name="music-image" on:change="{verification}" class="form-control mt-2 d-none " value="{musique.image}" id="music-image" required disabled/>
        <div class="card-body">
            <h5 class="card-title">
                <input type="text" name="music-titre"on:change="{verification}" class="form-control overflow-auto" value="{musique.titre}" id="music-titre" required disabled/>
            </h5>
            <label for="music-Artiste" class="form-label mt-3">Artiste</label>
            <input type="text" name="music-Artiste" on:change="{verification}" class="form-control overflow-auto" id="music-Artiste" value="{musique.artiste}"  required disabled/>
            <figure class="mt-4">
                <audio class="w-100" id="audio"
                    controls
                    src={musique.extrait}>
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
            </figure>
            <input type="text" name="music-extrait" on:change="{verification}" class="form-control mt-2 d-none" id="music-extrait" value="{musique.extrait}"  required disabled/>
            
        </div>
        {#if $user && $user.roles.includes("administrateur")}

            <div class="card-footer d-flex flex-wrap justify-content-center">
                <button class="btn btn-outline-primary mx-2" id="edit" on:click={edit}><i class="far fa-edit"></i></button>
                <button class="btn btn-outline-primary mx-2 d-none" id="validate" on:click={validateChange}><i class="far fa-check-square"></i></button>
                <button class="btn btn-outline-danger mx-2" on:click={deleteMusique}><i class="far fa-trash-alt"></i></button>
            </div>
          
        {/if}
    </div>
    
    {:catch}
        <p>Aucun morceau trouvé</p>
    {/await}
</section>
